<!--include header-->
    <%- include('include/_header')%>
 <!--/include header-->
 
 <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-users"></i>All Contacts</a>
            </div>
        </div>

        <div class="form-title text-center">
            <h2 class="text-dark">Add Contact</h2>
            <span class="text-light">Create a New Contact</span>
        </div> 
         
 <!--include form-->
 <%- include('include/_form')%>
 <!--/include form-->

    </div>
</main>


 <!--include footer-->
     <%- include('include/_footer')%>
 <!--/include footer-->